<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="N.Data.Properties.Settings.Nat" connectionString="Data Source=DESKTOP-TCSV6FQ\SQLEXPRESS;Initial Catalog=Natillera;User ID=sa;Password=D4n13l"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>